# Python fundamental

## This is my first code

# new to this

## this goes up

In [ ]:
#this is printing

In [5]:

print('''Hello World!''')
print("I love python")

Hello World!
I love python

In [6]:
#this is single comment

'''This is the multuline comment
and we are using it to print a comment of multi line in
the  '''

# This is the printing of the variable

In [9]:
x=2
X=5
print("x=",2)
print("X=",5)

x= 2
X= 5

# Can be printing in this ways for strings

In [20]:
name='Nikhil'
sur='Budhathoki'
print("My name is "+ name)
print("My name is " + name+ " "  + sur)
print(f"My name is {name} {sur}")
print("My name is " ,name)

My name is Nikhil
My name is Nikhil Budhathoki
My name is Nikhil Budhathoki
My name is  Nikhil

In [21]:
7name="nikil"
#syntax error

SyntaxError: invalid decimal literal (4122214872.py, line 1)

In [41]:
country='Nepal'
Country='Usa'
country='india'
age7=25
name7="Nikhil"
n7ame="John"
print("age is ", age7)
print("Country is ",country)
print("another country is ",Country)
print("Names are ",name7,",",n7ame)
print(type(country))
print(type(Country))
print(type(age7))
fl=4.333
print(type(fl))
l=[4,3,6,7]
type(l)
fruits=['age','name']
print(type(fruits))

age is  25
Country is  india
another country is  Usa
Names are  Nikhil , John
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

In [32]:
name="Nikhil Budhathoki"
age=18
print("My name is ", name," and I am ",age, "years old.")

My name is  Nikhil Budhathoki  and I am  18 years old.

# BIg brackets make a list
Curly brakets makes set
and tuple makes a small bracket and value cant be changed in tuples

In [33]:
print(range(5))

range(0, 5)

# Typecasting

In [47]:
new=int(2.44)
print(new)
se=str(3.33)
print(se)
print(float(4))

2
3.33
4.0

In [50]:
d={3,4,2,6,7}
print(type(d))
dis={'name':'Nikhil'}
print(type(dis))

<class 'set'>
<class 'dict'>

In [7]:
import random
a=input("Enter rock paper or scissor")
random

Enter rock paper or scissor rock