# Tuples in python

## Tuples are not mutable or we cant change the member of the tuples and starts with ()

In [4]:
tup=('ram','sam','jaro')
print(type(tup))
tup[0]='vari'

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [2]:
#we can acccess all members like list
print(tup[0])

ram

In [3]:
print(tup[-3])

ram

In [22]:

def tup(l):
   
    return tup[l]

tup=(1,2,3,4)
tup(4)

TypeError: 'tuple' object is not callable

## if only one element is given it considered as the datatype of the element

In [16]:
tup1=('kdf')
print(type(tup1))
tup1=(1,)#if comma is given it is tuple nnow
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [17]:
my_tuple=('hello','world',1,9.2)

In [21]:
print("my_tuple[0] is ",my_tuple[0])
print("my_tuple[-1] is ",my_tuple[-1])
print("my_tuple[1:3] is ",my_tuple[1:3])
print("my_tuple[-3:-1] is ",my_tuple[-3:-1])
print("my_tuple[:2] is ",my_tuple[:2])
print("my_tuple[2:] is ",my_tuple[2:])

my_tuple[0] is  hello
my_tuple[-1] is  9.2
my_tuple[1:3] is  ('world', 1)
my_tuple[-3:-1] is  ('world', 1)
my_tuple[:2] is  ('hello', 'world')
my_tuple[2:] is  (1, 9.2)

In [25]:
my-tuple[0]='hi'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3747216354.py, line 1)

## We can delete the tuple

In [26]:
del my_tuple

## WE can unpack tuple by giving it variable for each member

In [30]:
student1,student2,student2=('nick','rahul','raj')
print(student1)

nick

In [31]:
jpt=(1,2,3,'hello','world')
for item in jpt:
    print(item)

1
2
3
hello
world

In [33]:
def print_tup(tup):
    for s in tup:
        print(s)

my_tuple=(1,2,3,4)
print_tup(my_tuple)

1
2
3
4

## Add and multiplyy the tuple

In [35]:
a=(1,2,3,4)
b=('ram','sam')
print(a+b)

(1, 2, 3, 4, 'ram', 'sam')

In [42]:
print(a*3)#cant multiply tuple with tuple but multiply with a constant
lis=['ram','sam']
print(lis*3)#same for the list

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
['ram', 'sam', 'ram', 'sam', 'ram', 'sam']

## Not -,/,in the tuple

In [46]:
def mylist(lisin):
    for m in lisin:
        print(m)
mylist(lis)

ram
sam

# Sets in python

### It is unordered and used {} brakets

In [47]:
new={1,5.6,'Hi',True}
print(new)#No duplicate data is stored and remove one 
#1 and True are same

{'Hi', 5.6, 1}

In [48]:
for m in new:
    print(m)

Hi
5.6
1

In [49]:
#check if particular object is member or not 
'hi' in new

False

In [50]:
def my(new):
    for m in new:
        print(m)
my(new)

Hi
5.6
1

In [61]:
# elements are added by using .add and .update
new.add('nana')
print(new)
print(new)

{'Hi', 1, 2, 'nana', 5.6, 5, 'e', 'l', 'Hello', '1', 'H', 'o'}
{'Hi', 1, 2, 'nana', 5.6, 5, 'e', 'l', 'Hello', '1', 'H', 'o'}

In [62]:
set2={2,5}
new.update(set2)
print(new)

{'Hi', 1, 2, 'nana', 5.6, 5, 'e', 'l', 'Hello', '1', 'H', 'o'}

In [68]:
set={1:'apple',2:'ball'}
city={
    "Dang":3,
    "ktm":6,
    "pokhara":5
}
print(city)
def pr(c):
    for s in c:
        print(s)
pr(city)

{'Dang': 3, 'ktm': 6, 'pokhara': 5}
Dang
ktm
pokhara

In [70]:
print(city['Dang'])#gives the value when its key is given as index

3

# We can print only keys and values by .keys and .values

In [73]:
print(city.keys())

dict_keys(['Dang', 'ktm', 'pokhara'])

In [74]:
print(city.values())

dict_values([3, 6, 5])

In [98]:
set={1:'ram',2:'sam'}
def fun(dic):
    for s in dic:
      #return  dic.keys()
      return  dic.values(),dic.keys()

    
fun(set)

(dict_values(['ram', 'sam']), dict_keys([1, 2]))

In [93]:
#delete alll dictonary 
city.clear()
print(city)

{}